{% extends 'adminbase.html.twig' %}

{% block title %}Create Classe{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle classe</h1>

    {{ form_start(classeForm) }}
    {{ form_row(classeForm.name) }}

    <button class="btn">Créer</button>
    {{ form_end(classeForm) }}
{% endblock %}