{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}


<div class="table">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
</div>
{% endblock %}
