{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <img src="assets/images/bonhomme.png">
    <img src="assets/images/trait.png">
    <img src="assets/images/Coupe.png">



    {{ app.user.firstname }}
    {{ app.user.lastname }}


    {% for category in categories %}
    <div>
{{ category.name }}
    </div>
{% endfor %}


{% endblock %}
