{% extends 'base.html.twig' %}

{% block body %}

    <img src="" alt="">
    <p></p>
    <button>Reponse 1</button>
    <button>Reponse 2</button>
    <button>Reponse 3</button>
    <button>Reponse 4</button>

{% endblock %}